
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7 fluid top-full sidebar sidebar-full sticky-sidebar"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar"> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>


<script type="text/javascript" src="/bitStyle/js/jquery.js"></script>
<script type="text/javascript" src="/bitStyle/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bitStyle/js/modernizr.js"></script>
<script type="text/javascript" src="/bitStyle/js/selectivizr.js"></script>
<script type="text/javascript" src="/bitStyle/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/bitStyle/js/scripts.js"></script>
<script type="text/javascript" src="/bitStyle/js/remaining.js"></script>
<script type="text/javascript" src="/bitStyle/js/fn_number_format.js"></script>
<script type="text/javascript" src="/bitStyle/js/9acba5c0d35076a1ccd574dfc21b8b2b.js"></script>
		<script type="text/javascript">
			var _gNow = new Date();
		</script>
		

<script type="text/javascript">
jQuery(document).ready(function($){
	var gdBtn = $('#gdBtn');
	var pdBtn = $('#pdBtn');
	
	pdBtn.click(function(){
		$(this).toggleClass('active');
		gdBtn.removeClass('active');
		$('#pdWrap').stop(true, false).slideToggle('fast');
		$('#gdWrap').stop(true, false).slideUp('fast').removeClass('open');
		return false;
	});
	// if user status is freeze or just unblock and not yet do the maintain
	gdBtn.click(function(){
		$(this).toggleClass('active');
		pdBtn.removeClass('active');
		$('#gdWrap').stop(true, false).slideToggle('fast');
		$('#pdWrap').stop(true, false).slideUp('fast').removeClass('open');
		return false;
	});
	
	$("a[href='#top']").click(function() {
		$("html, body").animate({ scrollTop: 0 }, "slow");
		return false;
	});
	
	var _server_time = new Date(),
        _server_time2 = new Date(),
        _local_time = new Date(),
        _local_time2 = new Date();
        _server_time2 = new Date(),
        _local_time = new Date(),
        _local_time2 = new Date();
	
	_timer = setInterval(function(){
		var now = new Date();
		true_elapsed = Math.round((now.getTime() - _gNow.getTime()) / 1000); 		//synchronize & increment 1 second
		second = _local_time.getTime() + 1000;
		elapsed = Math.round((second - _local_time2.getTime()) / 1000);
		if(elapsed < true_elapsed){
			diff = true_elapsed - elapsed;
			second += (diff * 1000);
		}
		_local_time.setTime(second);
		second = _server_time.getTime() + 1000;
		elapsed = Math.round((second - _server_time2.getTime()) / 1000);
		if(elapsed < true_elapsed){
			diff = true_elapsed - elapsed;
			second += (diff * 1000);
		}
		_server_time.setTime(second);
		
		//update server time
		date_text = padNumber(_server_time.getHours())+':'+padNumber(_server_time.getMinutes())+':'+padNumber(_server_time.getSeconds());
		date_text += ' ' + _server_time.getDate()+'/'+(_server_time.getMonth()+1)+'/'+_server_time.getFullYear();
		$('#server_time_text').html(date_text);
		//update local time
		date_text = padNumber(_local_time.getHours())+':'+padNumber(_local_time.getMinutes())+':'+padNumber(_local_time.getSeconds());
		date_text += ' ' + _local_time.getDate()+'/'+(_local_time.getMonth()+1)+'/'+_local_time.getFullYear();
		$('#local_time_text').html(date_text);
	}, 1000);
	
	/**
	* @param number An integer
	* @return Integer padded  扣 扣 74222 4183 with a 0 if necessary
	*/
	function padNumber(number) {
		return (number >= 0 && number < 10) ? '0' + number : number;
	}
});
</script>


<link rel="stylesheet" href="/bitStyle/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/bitStyle/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/bitStyle/css/main.v001.css" type="text/css" />


<title>我的众筹钱包</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />


<!-- Favicons -->
<link rel="shortcut icon" href="/bitStyle/favicon.ico" type="image/x-icon">

</head>
<body class="zh-CN " id="">

<include file="User/Home/View/default/common_header.html" />

<div id="wrapper">
		
		<include file="User/Home/View/default/top2.html" />
		<include file="User/Home/View/default/common_main.html" />

			<div class="row">
			
			
				<div class="col-md-12">
					<div class="widget">
						<div class="widget-head clearfix">
							<h4 class="heading">
								我的众筹钱包
							</h4>
						</div>
						<div class="widget-body innerAll overthrow">
							<table class="table table-bordered table-primary">
								<thead>
									<tr class="tac">
										<th>编号</th>
										<th>日期</th>
										<th>说明</th>
										<th>金额 </th>
										<th>利息 </th>
										<th>天数</th>
										<th>提现 </th>
										<th>是否转出</th>
										<th>匹配编号</th>
										<th>匹配状态</th>
									</tr>
								</thead>
							 <tbody>

                                        <foreach name='v_list' item='v'>

                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{$aab=$v.id}</td>
                                                <td>{$v.date}</td>
                                                <td>众筹公益</td>
                                                <td>{$v.jb}</td>
                                                <td>{$v|w_peidui_lx=###}</td>
                                                <td>{$v|w_peidui_day=###}</td>
                                                <td>
                                                    <if condition="$v.zt eq '0'">(不可提现)
                                                        <else/>
                                                        已转出
                                                    </if>
                                                </td>
                                                <td>{$v.id|user_tgbz_jerry=$aab,###}</td>
                                                <td>未匹配</td>
                                                <td>排队中</td>
                                            </tr>
                                        </foreach>
                                        <foreach name='list1' item='v'>

                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{$aab=$v.id}</td>
                                                <td>{$v.date}</td>
                                                <td>{$v.note}</td>
                                                <td>{$v.jb}</td>
                                                <td>合计{$v.id|user_jj_zong_lx=###}</td>
                                                <td>排单日息:{$paidui_lx}%，排队天数:{$v.id|pd_fenhong_day=###}天，排队利息:{$v.id|user_jj_paidui_lx=###}</td>
                                                <td>
                                                    <if condition="$v.zt eq '0'">
                                                        <font color="#FF0000">恭喜你获得高息期利息</font><br>
                                                        ({$ztrs1|user_jj_zt_z=$aab,###}) <a href="javascript:if(confirm('高息期是您获利最佳的时机！大多数会员都不着急提现，而是等待计息。转出提现后将停止计息,确定要转出吗?'))location='/Home/Info/tgbz_tx_cl/id/{$v.id}/'">点击确认提款</a>
                                                    <else/>
                                                        已转出
                                                    </if>
                                                </td>
                                                <td>
                                                    <if condition="$v.zt eq '0'">未转出</if>
                                                    <if condition="$v.zt eq '1'">已转出</if>
                                                </td>
                                                <td>R{$bbh=$v.r_id}</td>
                                                <td>{$ztrs2|user_jj_pipei_z=$bbh,###}</td>
                                            </tr>
                                        </foreach>
                                    </table>
                                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                        {$page1}
                                    </div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
	<div style=" background-color:#003d74; padding:10px; padding-bottom:20px; margin-bottom:20px; color:#fff;border-radius:5px;">
	<h4 class="font-light m-b-xs">{:C('WEBSITE_NAME')}2.0全国招商制度：</h4>
	<p><strong style="color:#ffff00;">会员与利息：</strong><br>
	<table width="100%" border="1" align="center" bordercolor="#FFFFFF">
  <tr>
    <th scope="col">会员级别</th>
    <th scope="col">晋升条件</th>
    <th scope="col">高息期日息</th>
    <th scope="col">管理奖(2代~6代)</th>
  </tr>
  <tr>
    <th scope="row">M1</th>
    <td>新注册用户</td>
    <td>打款后1%</td>
    <td>只拿1代4%(直推奖)</td>
  </tr>
  <tr>
    <th scope="row">M2</th>
    <td>伞下团队9人直推3人</td>
    <td>打款后1%</td>
    <td>拿2代4%(直推奖) &gt; 2%(管理奖)</td>
  </tr>
  <tr>
    <th scope="row">M3</th>
    <td>团队27人直推5人</td>
    <td>打款后1%</td>
    <td>拿3代4% &gt; 2% &gt; 1%</td>
  </tr>
  <tr>
    <th scope="row">M4</th>
    <td>团队81人直推10人</td>
    <td>打款后1%</td>
    <td>拿4代4% &gt; 2% &gt; 1 % &gt; 0.5%</td>
  </tr>
  <tr>
    <th scope="row">M5</th>
    <td>团队243人直推20人</td>
    <td>打款后1%</td>
    <td>拿5代4% &gt; 2% &gt; 1% &gt; 0.5% &gt; 0.3%</td>
  </tr>
  <tr>
    <th scope="row">MY经理</th>
    <td>团队729人直推20人</td>
    <td>打款后1%</td>
    <td>拿6代4% &gt; 2% &gt; 1% &gt; 0.5% &gt; 0.3% &gt; 0.1%</td>
  </tr>
</table></p>
	<p><strong style="color:#ffff00;">注册与排单：</strong><br>
	1、注册激活码200元/个，在推荐人处购买，注册成功后立返200元到会员的众筹钱包中(相当于不花钱)<br>
	2、排队期不计息。排单需要排单币，没有排单币不可以排单，排一单消耗一个，做任务可以获取。团队内部可转账买卖，100元一个，禁止低价倒售，一经发现永久冻结账号。<br>
	3、排单金额3000-30000，必须是1000的整数倍，月最高排4单，每天限排1单。下次排单不得低于上次排单金额，例如上次排单1万下次排单必须1万（含）以上（防止投机者）<br>
	4、打款确认后进入“高回报期”，日回报1%，高息期计息15天后可提现，若不提现可继续计息，最高计息30天停止计息。<br>
	5、排单提示：请依据自己的非关键资金进行排单，排单即表示已了解风险且自愿参与。再次重申：金融启示不可避免，请用非关键资金参与！社区最大的风险取决于会员之间的诚信度和社区会员的不离不弃。互助，友爱，共赢是我们社区的宗旨。</p>
	<p><strong style="color:#ffff00;">提现规则：</strong><br>
	1、高息期订单在高息期15天后可提现，最高计息30天。<br>
	2、众筹钱包3000起提，必须是500整数倍。<br>
	3、提现时可排单或不排单，自由选择。 <br>
	4、直推奖钱包提现额度1000-10000，必须是1000的整数倍（不限次数）<br>
    5、管理奖钱包提现额度30000-60000，必须是30000的整数倍（不限次数）<br>
    6、提直推奖和管理奖的时候必须有排队中的订单（排单金额上下级比例不能低于1:1，例如：下级只要有一个会员排单2万，上级必须排单2万），否则直推奖和管理奖清零处理！<br>
    7、社区禁止串糖葫芦式大号套小号开户套取奖励，连套3级者一经发现，所有账号本金+利润全部冻结，永不解封！</p>
    <p><strong style="color:#ffff00;">匹配规则：</strong><br>
	1、获取回报时间：14:00-22:00<br>
	2、高息期提现后，提现的订单在48小时内完成匹配，即当天提现会在后天完成匹配。<br>
	3、前3个小时打款并且前3个小时确认奖励打款金额的1%。<br>
	4、打款时间24小时（不打款直接封号永不解封，且上级3代领导人各扣500元）<br>
    5、确认时间24小时（不确认直接封号永不解封，且上级3代领导人各扣500元）<br>
    6、对方24小时之内不打款或者对方上传截图后20个小时内未收到款直接投诉，客服会24小时内匹配另外一个家人打款 <br>
    7、对方不确认，点击24小时未确认投诉，系统自动确认。</p>
    <p><strong style="color:#ffff00;">关于订单资料的问题：</strong><br>
	1、若发现对方只绑定支付宝，没绑定银行卡，请勿汇款，这种情况下极有可能是黑客或者不诚信会员，请及时向后台反馈并奖励反馈者100元，对方领导人不负责罚500元。<br>
	2、若发现对方资料和姓名不符，银行卡错误，请及时后台反馈并奖励反馈者100元，对方领导人不负责罚500元。
	3、请勿听信对方私下提交的资料汇款！<br>
	以上3点情况出现请勿汇款，并及时反馈，若执意汇款造成的损失，责任自负！<br>
	再次重申，新会员开户时领导人务必协助及时绑定资料，银行卡必填项，支付宝可填可不填。收款时若发现资料为空，请及时反馈，奖励反馈者100元，对方领导人不负责罚500元。</p>
	<p><strong style="color:#ffff00;">其他规则：</strong><br>
	如果会员伞下有人级别超过他(平级不影响)，则他不能拿到这个会员的直推奖和这个会员伞下所有人的管理奖。</p>
	<p><strong style="color:#ffff00;">关于社区宣传的说明：</strong><br>
	社区禁止在百度、微博、论坛等一切网络平台上推广，以上行为已经发现永久冻结账号并且永久冻结上下级3代会员账号，钱包清零。社区指定推广途径：微信群、微信朋友圈、QQ群、QQ空间。超出范围均属恶意捣乱社区行为。低调才是长久之道！希望家人们共同维护我们的大家庭，互助、友爱、共赢，实现财富自由。金融启示不可避免，让我们一起改变世界！</p>
	</div>
    </div>
		</div>
	</div>
</body>
</html>

