@charset "utf-8";
/* 你自己的样式 */
.auto{ margin:0 auto;}
.fl{float: left;}
.fr{float:right;}
.clear{clear: both;}
.w100{width: 100px!important;}
.w150{width: 150px!important;}
.w160{width: 160px!important;}
.w200{width: 200px!important;}

/*页面分页*/
.order_wz{width: 100%; text-align: center;}
.order_rightwz{padding:50px ; } 
.order_rightwz a{display:inline-block!important; margin-left:5px; display:block; height:30px; line-height:30px; padding:0px 12px; border:#757575 solid 1px;}
.order_rightwz a:hover,.order_rightwz a.on{ color:#fff; background:#757575;text-decoration: none; }
.tutu{max-width:1150px; height:auto; display:block; margin:0 auto; margin-bottom:30px; overflow:hidden;}