
<div style="background-color: #FFFFFF; border-bottom: 1px solid #dedede; margin-bottom: 20px;">
<div class="container" style="padding: 10px 5px;">
    <div id="userRank" class="pull-left">
      <div style="position: relative"> <font style="font-size:16px; font-weight:bold; color:#003d74;">{$userData['ue_theme']}</font>,级别:<font style="color:#FF0000">{$userData['levelname']}</font> </font>
</div>

    </div>
    <div class="pull-right mt5 text-right" style="font-size: 11px;">

	<div>
	    <strong class="mr5">
	    SERVER
	  </strong>
	  <span id="server_time_text">
	     <php>echo date('Y-m-d H:i:s');</php>
	  </span>
	  <strong class="mr5">&nbsp;LOCAL
	  </strong>
	  <span id="local_time_text"></span>
	</div>
    </div>
</div>
</div>
